

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

@{
    ViewBag.Title = "Текст ресурсу з Веб-сторінки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Текст ресурсу з Веб-сторінки</h2>

<div class="container">
    <div class="wholebar row">
        <div class="col-sm-12">
            <p class="leftbar" id="inputText">
                @*@{
                        if (Model != null)
                        {
                            @Html.Raw(@Model.HtmlText)
                        }
                    }*@
                @Html.Raw(ViewBag.Text)
            </p>
        </div>
      

    </div>
</div>